<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>eGarden</title>
  </head>

  <body> 
    <header>
      <div class="topBar">
          <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
          <h1 class="logo-title">eGarden</h1>
          
          <ul class="barItem">
              <li><a href="/">home</a></li>
    
              {% if session.get('loggedin') and session.get('user_type') == 'Customer' %}
                  <li>
                      <a href="{{ url_for('view_cart') }}" class="cart-link">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="cart-icon" viewBox="0 0 16 16">
                              <path d="M0 1a1 1 0 0 1 1-1h1.22a.5.5 0 0 1 .478.645L2.89 2H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.491-.408L2.01 2.607 1.61 1H1a1 1 0 0 1-1-1zM5 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm8-1a1 1 0 1 0 1 1 1 1 0 0 0-1-1z"/>
                          </svg>
                          ({{ session['cart']|length if session.get('cart') else 0 }})
                      </a>
                  </li>
              {% endif %}
          </ul>     
      </div>
    </header>
    
  

    {% block content %}
    {% endblock %}
    
    <footer class="footer">
      <div class="footer__addr">
        <h1 class="footer__logo"><img src="{{url_for('static',filename = 'images/logo.png')}}" alt="Logo" class="logo"></h1>

        <h2 style="color: #d7e7c3;">Contact</h2>

        <address>
          5534 Somewhere In. The World 22193-10212<br>

          <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
        </address>
      </div>

      <ul class="footer__nav">
        <li class="nav__item">
          <h2 class="nav__title">Media</h2>

          <ul class="nav__ul">
            <li>
              <a href="#">Online</a>
            </li>

            <li>
              <a href="#">Print</a>
            </li>

            <li>
              <a href="#">Alternative Ads</a>
            </li>
          </ul>
        </li>

       

        <li class="nav__item">
          <h2 class="nav__title">Legal</h2>

          <ul class="nav__ul">
            <li>
              <a href="#">Privacy Policy</a>
            </li>

            <li>
              <a href="#">Terms of Use</a>
            </li>

            <li>
              <a href="#">Sitemap</a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="legal">
        <p>&copy; 2019 Something. All rights reserved.</p>

        <div class="legal__links">
          <span>Made with <span class="heart">♥</span> remotely from Anywhere</span>
        </div>
      </div>
    </footer>

  </body>
</html>