<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>eGarden</title>
  </head>

  <body> 
    <header>
      <div class="topBar">
          <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
          <h1 class="logo-title">eGarden</h1>
          
          <ul class="barItem">
            {% if session.get('loggedin') and session.get('user_type') == 'Customer' %}
            <li><a href="/customer">home</a></li>
            {% elif session.get('loggedin') and session.get('user_type') == 'Vendor' %}
            <li><a href="/vendor">home</a></li>
            {% elif session.get('loggedin') and session.get('user_type') == 'admin' %}
            <li><a href="/admin">home</a></li>
            {% else %}
            <li><a href="/">home</a></li>
            {% endif %}
            
    
              {% if session.get('loggedin') %}
                  <li><a href="{{ url_for('logout') }}" class="logout-link">logout</a></li>
              {% endif %}
        
              
              {% if session.get('loggedin') and session.get('user_type') == 'Customer' %}
                  <li>
                      <a href="{{ url_for('view_cart') }}" class="cart-link">
                         <img g src="https://gallery.yopriceville.com/var/albums/Free-Clipart-Pictures/Sale-Stickers-PNG/Shopping_Cart_Icon_PNG_Clipart.png?m=1629814077" class="cart">
                      </a>
                  </li>
              {% endif %}
          </ul>     
      </div>
    </header>
    
  

    {% block content %}
    {% endblock %}
    
    <footer class="footer">
      <div class="footer__addr">
        <h1 class="footer__logo"><img src="{{url_for('static',filename = 'images/logo.png')}}" alt="Logo" class="logo"></h1>

        <h2 style="color: #d7e7c3;">Contact</h2>

        <address>
          5534 Somewhere In. The World 22193-10212<br>

          <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
        </address>
      </div>

      <ul class="footer__nav">
        <li class="nav__item">
          <h2 class="nav__title">Media</h2>

          <ul class="nav__ul">
            <li>
              <a href="#">Online</a>
            </li>

            <li>
              <a href="#">Print</a>
            </li>

            <li>
              <a href="#">Alternative Ads</a>
            </li>
          </ul>
        </li>

       

        <li class="nav__item">
          <h2 class="nav__title">Legal</h2>

          <ul class="nav__ul">
            <li>
              <a href="#">Privacy Policy</a>
            </li>

            <li>
              <a href="#">Terms of Use</a>
            </li>

            <li>
              <a href="#">Sitemap</a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="legal">
        <p>&copy; 2019 Something. All rights reserved.</p>

        <div class="legal__links">
          <span>Made with <span class="heart">♥</span> remotely from Anywhere</span>
        </div>
      </div>
    </footer>

  </body>
</html>