{% extends 'base.html' %}
{% block content %}
<style>
    .store-page {
        display: flex;
        margin: 30px auto;
        gap: 20px;
        width: 90%;
    }

    #side-bar {
        display: block;
        width: 30%;
        min-width: 250px;
        max-width: 300px;
    }

    #main-block {
        display: block;
        width: 70%;
        margin: 0 auto;
    }
    
    .user-info {
        display: block;
        background: var(--pastel-purple--);
        border-radius: 10px;
        font-size: 15px;
        height: max-content;
    }

    .user-icon-block {
        background: url(../static/images/gradient-background.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10px 10px 0 0;
        align-content: center;
        padding: 10px;
    }

    .user-info img {
        display: block;
        width: 150px;
        margin: 0 auto;
    }

    .customer-info {
        padding-bottom: 15px;
    }

    .customer-info ul {
        padding: 10px 20px;
    }

    ul {
        list-style: none;
    }

    .product-listing {
        display: inline-block;
        background: var(--pastel-purple--);
        border-radius: 10px;
        width: 300px;
        color: var(--Violet--);
        margin: 5px;
        height: 450px;
        overflow-y: scroll;
        position: relative;
        scrollbar-width: none;
    }

    .product-listing img {
        display: block;
        width: 80%;
        margin: 0 auto;
    }

    .product-listing ul {
        margin: 10px;
    }

    .product_name {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .product_action {
        font-size: 12px;
    }

    .add-to-cart {
        display: block;
        width: 100%;
        border: none;
        background: var(--Violet--);
        padding: 15px;
        color: var(--pastel-purple--);
        border-radius: 0 0 10px 10px;
        position: absolute;
        bottom: 0px;
        z-index: 4;
    }

    .add-to-cart:hover {
        background: var(--lt-Violet--);
    }

    #x-icon {
        color: var(--Violet--);
        padding: 5px 12px;
        font-weight: 900;
        font-size: 20px;
    }

    .search-bar {
        display: flex;
        align-items: center;
    }

    .search-bar img {
        width: 50px;
        display: block;
    }

    .search-bar search {
        display: block;
        margin: 0 10px;
    }

    search input {
        border-radius: 30px;
        padding: 10px;
        border: 2px solid var(--Violet--);
    }
    
    search button {
        z-index: -1;
        background: var(--Violet--);
        color: var(--pastel-purple--);
        border: none;
        border-radius: 30px;
        padding: 10px;
    }

    .product-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .price {
        display: inline-block;
    }

    .original-discounted {
        font-size: 10px;
        text-decoration: line-through;
    }

    .pagination_bar {
        display: block;
        margin: 0 auto;
        background: var(--Violet--);
        border-radius: 30px;
        width: max-content;
        padding: 10px 20px;
    }

    .pagination_bar a, .pagination_bar a:active {
        display: inline-block;
        color: var(--pastel-purple--);
        text-decoration: none;
        font-size: 20px;
        padding: 5px;
    }

    .filter {
        display: block;
        background: var(--pastel-purple--);
        margin: 20px 0;
        border-radius: 10px;
        padding: 10px 20px;
    }

    .filter button {
        z-index: -1;
        background: var(--Violet--);
        color: var(--pastel-purple--);
        border: none;
        border-radius: 30px;
        padding: 10px;
        display: block;
        margin: 0 auto;
    }

    .filter select {
        display: block;
        width: max-content;
        margin: 5px;
        border-radius: 30px;
        padding: 10px;
        border: 2px solid var(--Violet--);
    }

</style>
    <section class="store-page">
        <section id="side-bar">
            <div class="user-info">
                <div  class="user-icon-block">
                    <img src="../static/images/user-logo.png" alt="" id="user-logo">
                </div>
                <div class="customer-info">
                    <h1 style="padding-top: 10px;">Customer</h1>
                    <ul>
                        <li>Username: {{account.username}}</li>
                        <li>Fullname: {{account.first_name + ' ' + account.last_name}}</li>
                        <li>Email: {{account.email}}</li>
                    </ul>
                </div>
            </div>
            <form action="/search" class="filter" id="filterForm">
                <h1>Filters</h1>
                <select name="color-filter" id="color-filter">
                    <option value="" selected >Color</option>
                    <option value="red">Red</option>
                    <option value="yellow">Yellow</option>
                    <option value="green">Green</option>
                    <option value="blue">Blue</option>
                    <option value="purple">Purple</option>
                </select>
                <select name="size-filter" id="size-filter">
                    <option value="" selected>Size</option>
                    <option value="small">Small</option>
                    <option value="medium">Medium</option>
                    <option value="large">Large</option>
                </select>
                <select name="stock-filter" id="stock-filter">
                    <option value="" selected>Availability</option>
                    <option value="available">Available</option>
                    <option value="unavailable">Unavailable</option>
                </select>
                <button type="submit">Set Filter</button>
            </form>
        </section>
        <section id="main-block">
            <div class="product-bar">
                <h1 style="font-size: 20px;">Welcome to the Garden!</h1>
                <div class="search-bar">
                    <img src="../static/images/strawberry.PNG" alt="">
                    <search>
                        <form action="/search" method="post" id="searchForm">
                            <input name="query" placeholder="Search Products...">
                            <button type="submit">Search</button>
                        </form>
                    </search>
                    <img src="../static/images/strawberry.PNG" alt="">
                </div>
            </div>
            <form class="product-block">
                {% for product in products %}
                <div class="product-listing">
                    <p id="x-icon">&#10005;</p>
                    <hr>
                    <img src="../static/images/sprout.PNG" alt="">
                    <ul>
                        <li class="product_name">{{product.product_name}}</li>
                        <li>{{product.product_desc}}</li>
                        <li class="product_action">Click for color options, sizes, warranty, etc...</li>
                        {% if product.discount_price %}
                        <li class="price">${{ product.discount_price }}</li>
                        <li class="original-discounted price">${{product.original_price}}</li>
                        {% else %}
                        <li class="price">${{product.original_price}}</li>
                        {% endif %}
                    </ul>
                    <input type="hidden" value="{{product.product_id}}">
                    <input type="submit" value="Add to Cart" class="add-to-cart">
                </div>
                {% endfor %}
            </form>
            <div class="pagination_bar">
                {% if page==1 %}
                {% else %}
                <a href= "{{ "/customer/"+ (page - 1) | string }}" class="pagination_button"> < </a>
                {% endif %}
                <a class="pagination_button" style="color: #d7e7c3;"> {{page}} </a>
                <a href="{{ "/customer/"+ (page + 1) | string }}" class="pagination_button" > {{ page + 1 }} </a>
                <a href="{{ "/customer/"+ (page + 2) | string }}" class="pagination_button" > {{ page + 2 }} </a>
                <a href="{{ "/customer/"+ (page + 1) | string }}" class="pagination_button"> > </a>
            </div>
        </section>
    </section>

    <script>
        document.getElementById('searchForm').addEventListener('submit', mergeForms);

        function mergeForms(e) {
          e.preventDefault();
          const searchForm = document.getElementById('searchForm');
          const filterForm = document.getElementById('filterForm');
        
          const params = new URLSearchParams(new FormData(searchForm));
          const filterParams = new FormData(filterForm);
          for (const [key, value] of filterParams) {
            params.set(key, value); // override if same key
          }
        
          window.location.href = `/search?${params.toString()}`;
        }
        </script>
{% endblock %}