<style>
    body {
        background: url(../static/images/moon-bkg.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .returns {
        position: relative;
        display: flex;
        background: #fff;
        width: 50%;
        margin: 50px auto;
        border-radius: 20px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        height: 500px;
        min-height: 500px;
        align-self: center;
        align-content: center;
        padding: 30px;
        gap: 30px;
    }

    .order_info {
        width: 30%;
    }

    .complaint_form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .complaint_form input {
        border-radius: 30px;
    }

    .complaint_form input, textarea {
        display: block;
        width: 100%;
        padding: 15px;
        margin: 10px 0;
    }

    textarea {
        height: 100%;
        resize: none;
        border-radius: 20px;
    }

    .issue::content {
        display: inline-block;
    }

    .issue select {
        padding: 10px 15px;
        margin: 10px 0;
        border-radius: 20px;
    }

    #star {
        position: absolute;
        right: -50px;
        top: -50px;
        width: 125px;
    }
</style>


{% extends 'base.html' %}
{% block content %}

<body>
    <div class="returns">
        <div class="order_info">
            <p>Product ID: {{product.product_id}}</p>
            <p>Product Name: {{product.product_name}}</p>
            <p>Product Description: {{product.product_desc}}</p>
            {% if product.discount_price %}
            <p>Price: {{product.discount_price}}</p>
            {% else %}
            <p>Price: {{product.original_price}}</p>
            {% endif %}
            <p>Vendor: {{product.vendor_username}}</p>
        </div>
        <form method="POST" class="complaint_form">
            <h1>Review Product</h1>
            <div class="issue">
                <label for="rating">Rate your experience!</label>
                <select name="rating" id="rating" required>
                    <option value="">Select</option>
                    {% for i in range(1, 6) %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
        
            <input type="text" name="review_title" placeholder="Title" required>
        <textarea name="review_desc" placeholder="Description" required></textarea>

        <input type="hidden" name="product_id" value="{{product.product_id}}">
        
            <button type="submit" class="sign-up">Submit Review</button>
        </form>
        <img src="../static/images/metal-star.png" alt="" id="star">
    </div>    
</body>


{% endblock %}